doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        link(rel="stylesheet", href="style.css")
        title Memoji

    body
        header: h1.title Memoji
        main.cards-wrapper
            - for (let i = 0; i < 12; i++)
                .card
                    .front-face
                    .back-face
        div.timer 1:00
        script(src="index.js")
